node_modules
.env
.env.*
.env.local
.DS_Store
dist
dummy.pdf
.vercel
coveragearis-registry/

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Python
venv/
__pycache__/
*.py[cod]
*.class

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield

# Added by ggshield
.cache_ggshield
